/*
 */
body {background:url(images/equipment.jpg)}
body.home {background:green;}
body.contact {background:red;}

#content div {}
#conent p {}

/* You can reuse this for you next project. And it works no problem. */
.btn {padding:0 20px; height:50px; background:none; border:none; font-size:18px; font-weight:bold; border-radius:50px;}
.btn-primary {background:#0097a3; color:#FFFFFF;}
.btn-secondary {background:#CCCCCC;}
